// $back: #2C3531;
// $mainOne: #116466;
// $accentOne: #D1E8E2;
// $mainTwo: #FFCB9A;
// $accentTwo: #D9B08C;

$back: #0B0C10;
$mainOne: #1F2833;
$accentOne: #C5C6C7;
$mainTwo: #66FCF1;
$accentTwo: #45A29E;

// $back: white;
// $mainOne: lightgrey;
// $accentOne: #0079C2;
// $mainTwo: #0079C2;
// $accentTwo: #0079C2;